@using Radzen
@using Radzen.Blazor

<RadzenLayout>
    <AuthenticationStateProvider>
        <NavigationBar />
        
        <RadzenBody>
            <div class="rz-p-4">
                @Body
            </div>
        </RadzenBody>
        
        <RadzenFooter>
            <div class="rz-text-align-center rz-p-4">
                <RadzenText TextStyle="TextStyle.Caption">
                    © 2025 Elevator - Biohacking Platform
                </RadzenText>
            </div>
        </RadzenFooter>
    </AuthenticationStateProvider>
</RadzenLayout>

@code {
    [Parameter] public RenderFragment? Body { get; set; }
}